.sr-only-team { 
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-size: 36px;
    font-style: Bold;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
}
.custom-heading-new {
color: rgba(46, 47, 66, 1);
font-weight: 500;
font-size: 20px;
font-style: Medium;
line-height: 24px;
letter-spacing: 2%;
}
